body {
    background-color: #c5b6fd;
    color: #333;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin-bottom: 30px;
    color: #00203b;
}
